SECRET_KEY=django-insecure-2ii5&=#0-w4u-iqx63x*qccfj779k+b^e3wlbabg)gn^id=lt6

DEBUG=True

SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=mvp
SQL_USER=postgres
SQL_PASSWORD=postgres
SQL_HOST=db
SQL_PORT=5432


POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mvp

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=admin
MONGO_INITDB_DATABASE=mvp_pricing
